
paper/data_SI.docx
paper/global-interactions-data-review.afdesign
plots/country_representation_map.png
plots/order_distribution.png
plots/order_distribution_wgrid.png
plots/pie_chart_FORM_Biosphere.png
plots/pie_chart_FORM_Climate.png
plots/pie_chart_FORM_Food_systems.png
plots/pie_chart_FORM_Governance.png
plots/pie_chart_FORM_Hydrosphere.png
plots/pie_chart_FORM_Integrative.png
plots/pie_chart_FORM_Lithosphere.png
plots/pie_chart_FORM_Socioeconomic.png
plots/pie_chart_METHOD_Biosphere.png
plots/pie_chart_METHOD_Climate.png
plots/pie_chart_METHOD_Food_systems.png
plots/pie_chart_METHOD_Governance.png
plots/pie_chart_METHOD_Hydrosphere.png
plots/pie_chart_METHOD_Integrative.png
plots/pie_chart_METHOD_Lithosphere.png
plots/pie_chart_METHOD_Socioeconomic.png
plots/pie_chart_TYPE_Biosphere.png
plots/pie_chart_TYPE_Climate.png
plots/pie_chart_TYPE_Food_systems.png
plots/pie_chart_TYPE_Governance.png
plots/pie_chart_TYPE_Hydrosphere.png
plots/pie_chart_TYPE_Integrative.png
plots/pie_chart_TYPE_Lithosphere.png
plots/pie_chart_TYPE_Socioeconomic.png
plots/scale_distribution.png
plots/scale_distribution_wgrid.png
plots/time_series_per_order.png
plots/time_series_per_scale.png
plots/time_series_per_scale_wgrid.png
plots/time_series_per_system.png
plots/time_series_per_system_wgrid.png
.Rproj.user/shared/notebooks/B10E38CC-data_share/1/s/chunks.json
.Rproj.user/87231D27/sources/session-1337dd01/lock_file
.Rproj.user/87231D27/sources/session-1337dd01/CD9EE4D8-contents
.Rproj.user/87231D27/sources/session-1337dd01/CD9EE4D8
.Rproj.user/87231D27/sources/session-1337dd01/3C9C900E-contents
.Rproj.user/87231D27/sources/session-1337dd01/3C9C900E
.Rproj.user/87231D27/sources/prop/E282DC41
.Rproj.user/87231D27/sources/prop/BAAD558C
.Rproj.user/87231D27/sources/prop/8FE923C0
.Rproj.user/87231D27/sources/prop/8166790B
.Rproj.user/87231D27/sources/prop/468AFBC9
.Rproj.user/87231D27/persistent-state
.Rproj.user/87231D27/pcs/debug-breakpoints.pper
groundwater-SES-data-review.Rproj
.Rproj.user
paper/figure_exports/ERL-data-Fig1.png
paper/figure_exports/ERL-data-Fig2.png
paper/figure_exports/ERL-data-Fig3.png
paper/figure_exports/ERL-data-Fig4.png
paper/r0_original_submission/data_SI_not_submitted.docx
paper/r0_original_submission/Huggins_etal_ERL_groundwaterSESdata_Letter_to_Editor.docx
paper/r0_original_submission/Huggins_etal_ERL_groundwaterSESdata_Letter_to_Editor.pdf
paper/r0_original_submission/Huggins_etal_ERL_groundwaterSESdata_MS.docx
paper/r0_original_submission/Huggins_etal_ERL_groundwaterSESdata_MS.pdf
paper/r0_original_submission/Huggins_etal_ERL_groundwaterSESdata_MS_EXV.pdf
paper/r1_revision/Huggins_ERL_2025_Figure_01.pdf
paper/r1_revision/Huggins_ERL_2025_Figure_01.png
paper/r1_revision/Huggins_ERL_2025_Figure_02.pdf
paper/r1_revision/Huggins_ERL_2025_Figure_02.png
paper/r1_revision/Huggins_ERL_2025_Figure_03.pdf
paper/r1_revision/Huggins_ERL_2025_Figure_03.png
paper/r1_revision/Huggins_ERL_2025_Figure_04.pdf
paper/r1_revision/Huggins_ERL_2025_Figure_04.png
paper/r1_revision/Huggins_etal_ERL_groundwaterSESdata_Letter_to_Editor_Revision.pdf
paper/r1_revision/Point-by-point_response_comments_Huggins_etal_ERL_2025.docx
paper/r1_revision/Point-by-point_response_comments_Huggins_etal_ERL_2025.pdf
paper/r1_revision/REVISION_Huggins_etal_ERL_groundwaterSESdata_MS.docx
paper/r1_revision/REVISION_Huggins_etal_ERL_groundwaterSESdata_MS_R1_accepted.docx
paper/r1_revision/REVISION_Huggins_etal_ERL_groundwaterSESdata_MS_R1_accepted.pdf
paper/r1_revision/Tracked_changes.docx
paper/r1_revision/Tracked_Changes_Huggins_etal_ERL_2025.docx
paper/r1_revision/Tracked_Changes_Huggins_etal_ERL_2025_highlighted.docx
paper/r1_revision/Tracked_Changes_Huggins_etal_ERL_2025_highlighted_upload.pdf
